<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>继续教育课时Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="lib/vue.3.4.26.global.min.js"></script>
<script src="lib/axios.min.js"></script>
<link href="lib/bootstrap@5.3.3.min.css" rel="stylesheet">
<script src="lib/bootstrap@5.3.3.min.js"></script>

<script src="js/axios-config.js?v=1.0.1"></script>
<script src="js/objects.js?vVvVvV=1.0.1"></script>
<script src="js/util.js?vVvVvVvVv=1.0.1"></script>
<body>
<div id="app">
    <div style="margin-top: 100px">
        <div style="text-align: center;">
            <h2>继续教育课时Go</h2>
        </div>


        <div class="modal-body">
            <div style="text-align: center">
                <button class="w-25 btn rounded-3 btn-secondary" @click="tab = 1">使用Cookie登录</button>
                <button class="w-25 btn rounded-3 btn-secondary" @click="tab = 2">使用用户名密码登录</button>
            </div>

            <div v-show="tab === 1">
                <label class="col-sm-12 col-12">
                    Cookie
                    <input class="form-control" v-model="userCookie" placeholder="请输入Cookie">
                </label>
                <div style="text-align: center;">
                    <button class="w-25 btn rounded-3 btn-secondary" @click="addUserCookie">Cookie登录</button>
                </div>
            </div>
            <br/>

            <div v-show="tab === 2">
                <label class="col-sm-12 col-12">
                    用户名
                    <input class="form-control" v-model="idCard" placeholder="请输入用户名">
                </label>
                <br/>

                <label class="col-sm-12 col-12">
                    密码
                    <input class="form-control" v-model="password" placeholder="请输入密码">
                </label>
                <button class="w-25 btn rounded-3 btn-secondary" @click="getCaptcha">获取验证码</button>
                <label v-if="loadCaptcha" class="col-sm-12 col-12">
                    验证码
                    <input class="form-control" v-model="captcha" placeholder="验证码">
                    <label id="captchaImgLabel" class="col-sm-12 col-12">
                        <img :src="'/api-jxkp-auto-learn/getCaptchaImg?idCard=' + idCard1 + '&password=' + password1 + '&t=' + t">
                    </label>
                </label>

                <div style="text-align: center;">
                    <button class="w-25 btn rounded-3 btn-secondary" @click="login">用户名登录</button>
                </div>
            </div>
        </div>

        <hr/>

        <div style="text-align: center;">
            <button class="w-25 btn rounded-3 btn-secondary" @click="getUserProfile">获取用户信息</button>
        </div>
        <br/>

        <div style="text-align: center;">
            <button class="w-25 btn rounded-3 btn-secondary" @click="getPersonTotalLessons">获取所有课程</button>
        </div>

        <div class="modal-body">
            <div>
                <label class="col-sm-12 col-12">
                    用户：{{userInfoDto.name}}
                </label>
            </div>

            <div v-show="courseInfoDtoList && courseInfoDtoList.length > 0">
                <h3>请勾选要学习的课程，然后点击开始学习。可以随时打开本页面，点击“获取所有课程”查看学习进度。</h3>
                <table>
                    <tr>
                        <th>勾选</th>
                        <th>课程名称</th>
                        <th>已学时长</th>
                        <th>总时长</th>
                        <th>学时</th>
                        <th>学习状态</th>
                    </tr>
                    <tr v-for="course in courseInfoDtoList">
                        <td><input type="checkbox" :disabled="course.status === '已学完'" v-model="course.checked"></td>
                        <td>{{course.name}}</td>
                        <td>{{course.learnedCount}}</td>
                        <td>{{course.totalLessonCount}}</td>
                        <td>{{course.hours}}</td>
                        <td>{{course.status}}</td>
                    </tr>
                </table>

                <div>
                    <div style="text-align: center;">
                        <button class="w-50 btn rounded-3 btn-secondary" @click="learn">开始学习</button>
                    </div>

                    <br/>
                    <div style="text-align: center;">
                        <button class="w-50 btn rounded-3 btn-secondary" @click="stop">停止学习</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/app.js?v=1.0.0"></script>
</body>
</html>